.readsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: -60px;  
  }

.search {
    width: 350px;
}

.search select {
    width: 100%;
    font-size: 18px;
    margin: 20px 0px 20px 0px;
    padding: 8px;
}

.search input {
    justify-content: center;
    width: 333px;
    font-size: 18px;
    padding: 8px;
    margin-bottom: 40px;
}

.div {
    text-align: center;
    margin-top: -40px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 60px;
    width: 100%;
}

.container input {
    flex: auto;
    flex-wrap: wrap;
    width: 300px;

}

button.danger {
    width: auto;
    float: center;
    margin-top: 20px;
}
button.caution {
    width: auto;
    float:left;
    margin-top: 20px;
    margin-left: 50px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
ol {
    display:flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-bottom: 60px;
  }

  ol li {
    max-width: 400px;
    cursor: pointer;
    background: white;
    padding: 8px 16px;
    border: 1px solid gray;
  }
  ol p {
    margin-top: 6px;
    margin-bottom: 2px;
    font-weight: 700;
  }

  
  /*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/

@media screen and (max-width: 964px) {
    .container {
        width: 100%;
        flex-direction: calc(33.33%);
    }
}

@media screen and (max-width: 568px) {
    .container {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 360px) {

    .readsearch {
        margin-top: -80px;  
      }

    .search select {
        width: 96%;
    }

    .search input {
        width: 233px;
    }

    button.danger {
        width: auto;
        float: center;
        margin-top: 20px;
        
    }
    button.caution {
        width: auto;
        float:left;
        margin-top: 20px;
        margin-left: 30px;
    }

    .div {
        text-align: center;
        margin-top: -80px;
    }
    
}

@media screen and (max-width: 302px) {

    .readsearch {
        margin-top: -110px;  
      }

    .search select {
        width: 96%;
    }

    .search input {
        width: 194px;
    }

    button.danger {
        width: auto;
        float: center;
        margin-top: 20px;
    }
    button.caution {
        width: auto;
        float:left;
        margin-top: 20px;
        margin-left: 10px;
    }

    .div {
        text-align: center;
        margin-top: -120px;
    }
    
}