  .createlize {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 60px;
  }  

  .create div {
    margin-bottom: 20px;
  }

  .create label {
    font-weight: 700;
    text-align: left;
  }

  .create input {
    justify-content: center;
    width: 284px;
    padding: 8px;
}
.create select {
  width: 300px;
}

.create button.outline {
  margin-top: 20px;
  background: rgb(235, 113, 113);
}