.header {
    height: 80px;
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
    padding: 1em;
    border-bottom: 3px solid #fcfcfc;
}
@media screen and (max-width: 360px) {
    .header h1 {
        font-size: 24px;
    }
    
}

@media screen and (max-width: 302px) {
    .header h1 {
        font-size: 22px;
    }
    
}